.ContestContainer {
    width: 75%;
    display: inline-block;
    height: auto;
    padding: 20px;
}

.ContestContainer > div > .MuiAppBar-colorPrimary {
    background-color: white !important;
    color: initial;
}

.ContestContainer .MuiButtonBase-root {
    color: black ;
}

.ContestContainer .Mui-selected {
    border-bottom: 2px solid crimson !important;
}

.ContestContainer .Mui-selected::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
}

.ContestContainer .Mui-selected:focus {
    text-decoration: none;
}

.ContestContainer .MuiTab-root , .ContestContainer .MuiTab-root:hover{
    text-decoration: none;
}

.ContestContainer > div > div > div > p {
    margin: 0 !important;
    max-width: 100%;
    min-height: 700px;
} 

.ContestContainer .MuiCard-root {
    display: inline-block;
    width: 30%;
    margin: 10px;
}

.tabs2 > div > div > a:hover {
    color: initial;
}

@media screen and (max-width: 1010px) {
    
    .ContestContainer .MuiCard-root {
        display: inline-block;
        width: 45% !important;
        margin: 2.5% !important;
    }
  }


@media screen and (max-width: 975px) {
    .ContestContainer {
        width: 100% !important;
        /* margin-top: 50px !important; */
    }
    .ContestContainer .MuiCard-root {
        display: inline-block;
        width: 45% !important;
        margin: 2.5% !important;
        max-width: 450px !important;
    }
}

@media screen and (max-width: 500px) {
    .ContestContainer .MuiCard-root {
        display: inline-block;
        width: 95% !important;
        margin: 2.5% !important;
        max-width: 450px !important;
        min-height: 250px;
    }
  }