.mobileCarousel {
    margin-top: 65px;
    height: auto;
    display: none;
}

.mobileCarousel > .carousel, .mobileCarousel > .carousel div {
    height: 100%;
}

.mobileCarousel > .carousel div > img {
    height: auto;
}

.mobileCarousel .carousel-control-prev, .mobileCarousel .carousel-control-next {
    display: initial;
}

/* .mobileCarousel > .carousel .carousel-control-prev-icon, .mobileCarousel > .carousel  .carousel-control-next-icon {
    top: 50%;
    position: absolute;
    color: #000 !important;
    background-color: #fff;
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  top: 45%;
  position: absolute;
  height: 30px;
  width: 30px;
  outline: 0;
  background-color: #fff;
  background-size: 100% 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-prev-icon {
    left: 10px;
}

.carousel-control-next-icon {
    right: 10px;
}

.carousel-control-next-icon:after
{
  top: -2px;
  left: 8px;
  position: absolute;
  content: '>';
  font-size: 22px;
  font-weight: 800;
  color: #000;
}

.carousel-control-prev-icon:after {
  top: -2px;
  right: 8px;
  position: absolute;
  content: '<';
  font-size: 22px;
  font-weight: 800;
  color: #000;
  z-index: 20 !important;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1 !important;
}


.mobileCarousel > .carousel > .carousel-indicators {
    top: 100%;
}

.carousel-item > div {
    position: absolute;
    width: 160px !important;
    height: 100px !important;
    top: 10px !important;
    right: 0px !important;
    color: white;
}

.carousel-item > div > .participateBtnMobile {
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.carousel-item > div > .participateBtnMobile a {
    color: white !important;
}


@keyframes glowing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
    }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
    }
    100% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
    }
}

.carousel-item > div > .participateBtnMobile {
animation: glowing 1300ms infinite;
}


@media screen and (max-width: 900px) {
    .mobileCarousel {
      display: block;
    }
}

@media screen and (max-width: 500px) {
    .carousel-item > div h4 {
        display: none;
    }
    .carousel-item > div {
        width: 130px !important;
        height: 50px !important;
        top: initial !important;
        bottom: 10px !important;
        right: 5px !important;
    }
    .carousel-item > div > .participateBtnMobile {
        font-size: 11px;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 400px) {
    .carousel-item > div {
        width: 100px !important;
        bottom: 5px !important;
    }
}