.HallOfFameContainer {
    height: auto;
    width: 100%;
    padding: 5% 10%;
    background-color: #1b1c1d;
    padding-bottom: 10%;
    color: white !important;
}

.HallOfFameContainer > h1 {
    text-align: left;
    font-size: 50px;
    margin-bottom: 40px;
}

.tabs {
    background: #1b1c1d;
    color: white !important;
    outline: none !important;
    border: none !important;
}

.MuiButtonBase-root {
    color: initial ;
}

.tabs > div > div > a:hover {
    color: #fff;
}

.tabPanel {
    margin-top: 0px;
    height: 400px;
}

.tabPanel > div , .tabPanel > div > p{
    height: inherit;
}

.MuiPaper-elevation4 {
    box-shadow: initial !important;
}

.fameBtnContainer {
    width: 100px;
    margin: 0 auto;
}

.hallOfFameBtn {
    padding: 10px;
    color: white;
    background-color: crimson;
    outline: 0;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.hallOfFameBtn > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}


.HallOfFameContainer .MuiCard-root {
    margin-top: 30px !important;
    margin-right: 1% !important;
    margin-left: 1% !important;
    width: 31.33% !important;
    display: inline-block;
    max-width: 33.33%;
}


.HallOfFameContainer video {
    width: 100%;
}

@media screen and (max-width: 1010px) {
    .tabPanel {
        margin-top: 20px;
        height: auto;
    }
    .MuiBox-root {
        padding: 10px 0 !important;
    }
    .HallOfFameContainer .MuiCard-root {
        margin-top: 10px !important;
    }
    video {
        width: 256px;
    }
}

@media screen and (max-width: 900px) {
    .HallOfFameContainer {
        padding: 50px 20px;
    }
    .HallOfFameContainer > h1 {
        font-size: 35px;
        margin-bottom: 1em;
    }
    .HallOfFameContainer > div > header > div > div > div > .MuiTab-root {
        width: 25%;
        padding: 0;
        font-size: 0.8em;
    }
    .HallOfFameContainer .MuiCard-root {
        width: 48% !important;
        margin-right: 1% !important;
        margin-bottom: 20px !important;
        max-width: initial;
    }
    .MuiCardContent-root {
        padding: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    
    .HallOfFameContainer .MuiCard-root {
        width: 80% !important;
        margin: 0 10% !important;
        margin-bottom: 20px !important;
    } 
}

@media screen and (max-width: 410px) {
    
    .HallOfFameContainer .MuiCard-root {
        width: 90% !important;
        margin: 0 5% !important;
        margin-bottom: 20px !important;
    } 
}