.card {
    height: 110% !important;
    .content {
        background-color: #1B1C1D;

        // opacity: 100%;

        .header {
            font-size: 200% !important;
        }

        color: white !important;
    }

    &:hover{
        transition: 0.25s !important;
        transform: translateY(100px) !important;
        animation: anim 0.5s none ease-in-out;
        // background-color: transparent !important;
        // background-image: none !important;
        height: 60% !important;
        .content{
            // opacity: 0;
            display: none;

        }
    }


    box-shadow: -12px -12px 12px 0 rgba($color: white, $alpha: 0.04),
    12px 12px 12px 0 rgba($color: black, $alpha: 1) !important;


    background-image: linear-gradient(-45deg, rgba($color: rgb(255, 145, 0), $alpha: 0.8), rgb(139, 0, 0)) !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
    width: 25% !important;

@keyframes anim {
    from {
        .content{
            display: block;
        }
        height: 110% !important;
    }
    to {
        .content{
            display: none;
        }
        height: 60% !important;
    }
}

}
