@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.aboutUsContainer {
  margin-top: 64px;
  background-color: #0e0f11;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.aboutUsHeader {
  height: 100vh;
  padding: 200px 0;
  /* background-image: url("https://node-sdk-sample-a4f56167-eded-4451-b5e3-2c4a36341013.s3.amazonaws.com/assets/artform2(1).png"); */
  background-image: url("https://node-sdk-sample-a4f56167-eded-4451-b5e3-2c4a36341013.s3.amazonaws.com/assets/picss.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom bottom;
  background-size: cover;
  position: relative;
}

.aboutUsHeader::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.aboutHeaderContent {
  position: absolute;
  text-align: left;
  padding: 110px 60px;
  /* background-color: #e1e1e1; */
}

.aboutHeaderContent > h1 {
  text-align: left;
  font-size: 60px;
  margin-bottom: 20px;
  color: #ff384f;
  z-index: 1;
}

.aboutHeaderContent > h2 {
  margin-bottom: 20px;
  z-index: 1;
}

.aboutHeaderContent > button {
  position: absolute;
  padding: 15px;
  background-color: #ff384f;
  border: 2px solid #ff384f;
  outline: 0;
  font-size: 20px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  z-index: 4;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.aboutHeaderContent > button:hover {
  background-color: transparent;
  color: #ff384f;
}

.artheistEssence {
  padding-bottom: 100px;
  margin: 60px auto;
  max-width: 1140px;
  height: auto;
}

.artheistEssence > div {
  display: inline-block;
  vertical-align: top;
}

.essenceContent {
  width: 52%;
  height: 499px;
  padding: 90px;
  background-color: black;
  color: #fafafa;
}

.essenceContent > h2 {
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: bold;
  position: relative;
}

.essenceContent > p {
  text-align: justify;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
}

.essenceLogo {
  background-color: white;
  background-image: url("https://node-sdk-sample-a4f56167-eded-4451-b5e3-2c4a36341013.s3.amazonaws.com/assets/logo1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 18%;
  background-size: 500px;
  background-origin: content-box;
  width: 48%;
  height: 500px;
}

/* .ourIntegrity img {
    width: 300px;
    height: 100%;
    margin: 0 auto;
} */

.trailerVideo {
  margin: 70px auto;
  /* padding: 40px 60px;  */
  height: auto;
  width: 75%;
}

.trailerVideo > video {
  width: 1066px;
  height: 600px;
}

.ourIntegrity,
.whoAreWe {
  padding: 0px 60px;
  height: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}

.whoAreWe {
  /* height: 90vh; */
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  background-color: #eee;
  color: #444;
}

.ourIntegrity > h1,
.whoAreWe > h1 {
  text-align: left;
  font-size: 50px;
  position: relative;
}


.whoAreWe > h1::after {
  width: 130px;
}

.ourIntegrity > div {
  display: inline-block;
  vertical-align: top;
}

.ourIntegrityContent {
  width: 50%;
  margin-top: 40px;
}

.ourIntegrityContent > p {
  text-align: left;
  padding: 40px 0;
  font-size: 20px;
}

.equation {
  margin: 40px 0;
}

.ourIntegrityImg {
  width: 40%;
  margin-left: 5%;
  margin-top: 20px;
}

.ourIntegrityImgMob {
  display: none !important;
  width: 100%;
  margin-top: 60px;
}

.ourIntegrity img {
  width: 500px;
  height: 333.33px;
  margin: 0 auto;
}

.whoAreWe > h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.whoAreWe > p {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.ourTeam > h1 {
  font-size: 60px;
  text-align: center;
}

.ourTeam {
  padding: 50px 60px;
  height: auto;
  background: linear-gradient(#f96332 -10%, #222 70%);
}

.ourTeam > div {
  margin-top: 60px;
}

.memberPhotos {
  display: inline-block;
  width: 60%;
  height: auto;
  vertical-align: top;
  padding: 15px;
}

.memberPhotos > div {
  width: 26%;
  display: inline-block;
  vertical-align: top;
  margin: 2.66%;
  height: 190px;
}

.memberPhotos > div > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.aboutMember {
  display: inline-block;
  width: 40%;
  height: 450px;
  vertical-align: top;
  padding: 15px;
}

.aboutMember > h2 {
  text-align: center;
}

.aboutMember > p {
  text-align: justify;
  margin-top: 40px;
  padding: 0px 20px;
}

@media screen and (max-width: 750px) {
  .artheistEssence > div {
    display: block;
  }

  
  .essenceLogo {
    width: 90%;
    margin: 0 auto;
    background-position: 24% !important; 
  }
  .essenceContent {
    width: 90%;
    margin: 0 auto;
  }
  /* .aboutUsHeader {
        background-position: -400px 40px;
    } */
}

@media screen and (max-width: 1100px) {
  .essenceLogo {
    background-position: 5%;
  }
  .ourIntegrity > div {
    display: block;
    width: 100%;
    text-align: center;
  }
  .ourIntegrityImgMob {
    display: block !important;
  }
  .ourIntegrityImg {
    display: none !important;
  }
  
  .ourIntegrityContent > p {
    text-align: center;
    width: 100% !important;
  }
}

@media screen and (max-width: 850px) {
  .essenceLogo {
    background-position: -3%;
  }
  .essenceContent {
    padding: 60px;
  }
  .ourIntegrityImgMob > img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .aboutHeaderContent {
    padding: 110px 20px;
  }
  .aboutHeaderContent > h1 {
    font-size: 45px;
  }
  .aboutHeaderContent > h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 460px) {
  .essenceLogo {
    background-position: 10% !important;
    background-size: 400px !important;
    height: 400px ;
  }
  .essenceContent {
    padding: 50px;
    height: auto;
  }
  .ourIntegrity {
    padding: 0px 20px !important;
  }
  .ourIntegrity > h1,
  .whoAreWe > h1 {
    text-align: center;
    font-size: 36px;
    position: relative;
  }
  .whoAreWe {
    padding: 0px 0px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
}



/* video experiment with iframe */

/* .vid-container {
	position: relative;
	padding-bottom: 46%;
	padding-top: 30px; 
	height: 0; 
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */
