.aboutUsContainer {
    margin-top: 64px;
    background-color: #0e0f11;
    color: white;
}

.aboutUsHeader {
    height: 520px;
    padding: 200px 0;
    /* background-image: url("https://node-sdk-sample-a4f56167-eded-4451-b5e3-2c4a36341013.s3.amazonaws.com/assets/artform2(1).png"); */
    background-image: url("../../assets/aboutUsBg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    position: relative;
}

.aboutUsHeader::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.aboutHeaderContent {
    text-align: left;
    padding: 40px 60px;
    /* background-color: #e1e1e1; */
}

.aboutHeaderContent > h1 {
    text-align: left;
    font-size: 50px;
    margin-bottom: 20px;
    color: #ff384f;
    z-index: 1;
}

.aboutHeaderContent > h2 {
    margin-bottom: 20px;
    z-index: 1;
}

.aboutHeaderContent > button {
    padding: 15px;
    background-color: #ff384f;
    border: 0;
    outline: 0;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    z-index: 1;
}

.artheistEssence {
    padding-bottom: 100px; 
    margin: 0 auto;
    max-width: 1140px;
    height: auto;  
}

.artheistEssence > div {
    display: inline-block;
    vertical-align: top;
}

.essenceContent {
    width: 52%;
    height: 500px;
    padding: 90px;
    background-color: #fafafa;
    color: black;
}

.essenceContent > h2 {
    margin-bottom: 30px;
    position: relative;
}

.essenceContent > p {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

.essenceLogo {
    background-color: black;
    background-image: url("https://node-sdk-sample-a4f56167-eded-4451-b5e3-2c4a36341013.s3.amazonaws.com/assets/artHeist_logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 18%;
    background-size: 500px;
    background-origin: content-box;
    width: 48%;
    height: 500px;
}

/* .ourIntegrity img {
    width: 300px;
    height: 100%;
    margin: 0 auto;
} */

.trailerVideo {
    margin: 70px auto;
    /* padding: 40px 60px;  */
    height: auto;
    width: 75%;
}

.trailerVideo > video {
    width: 1066px;
    height: 600px;
}

.ourIntegrity, .whoAreWe {
    padding: 0px 60px; 
    height: auto;
    margin-bottom: 100px;
}

.ourIntegrity > h1, .whoAreWe > h1 {
    text-align: left;
    font-size: 50px;
    position: relative;
}

.ourIntegrity > h1::after, .whoAreWe > h1::after, .essenceContent > h2::after {
    content: "";
    position: absolute;
    top: 108%;
    display: block;
    height: 4px;
    width: 10%;
    background-color: #ff3843;
}

.ourIntegrity > div {
    display: inline-block;
    vertical-align: top;
}

.ourIntegrityContent {
    width: 60%;
    margin-top: 40px;
}

.ourIntegrityContent > p {
    text-align: justify;
}

.equation {
    margin: 40px 0;
}

.ourIntegrityImg {
    width: 30%;
    margin-left: 5%;
    margin-top: 40px;
}

.ourIntegrity img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.whoAreWe > p {
    margin-top: 60px;
    text-align: justify;
}

.feedbackVideo > h1, .ourTeam > h1 {
    font-size: 60px;
}

.ourTeam {
    padding: 30px 60px;
    height: auto;
}

.ourTeam > div {
    margin-top: 60px;
}

.memberPhotos {
    display: inline-block;
    width: 60%;
    height: auto;
    vertical-align: top;
    padding: 15px;
}

.memberPhotos > div {
    width: 26%;
    display: inline-block;
    vertical-align: top;
    margin: 2.66%;
    height: 190px;
}

.memberPhotos > div > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.aboutMember {
    display: inline-block;
    width: 40%;
    height: 450px;
    vertical-align: top;
    padding: 15px;
}

.aboutMember > h2 {
    text-align: center;
}

.aboutMember > p {
    text-align: justify;
    margin-top: 40px;
    padding: 0px 20px;
}


@media screen and (max-width: 750px) {
    .artheistEssence > div {
        display: block;
    }
    .trailerVideo > video {
        transform: scale(0.5);
    }
    .ourIntegrity img {
        width: 200px;
        height: 300px;
    }
    .essenceLogo {
        width: 90%;
        margin: 0 auto;
    }
    .essenceContent {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1100px) {
    .essenceLogo {
        background-position: 5%;
    }
}

@media screen and (max-width: 850px) {
    .essenceLogo {
        background-position: -3%;
    }
    .essenceContent {
        padding: 60px;
    }
}