.footer {
    height: auto;
    text-align: left;
    font-size: large;
    color: white;
    background-color: #000;
    /* position: sticky;
    left: 0;
    right: 0;
    bottom: 0; */
}

.footerNavLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60px;
    padding: 20px;
    box-sizing: border-box;
}

.footerNavLinks a, .copyRightAndSocialLinks p a {
    color: white;
    text-decoration: none;
}

.footerNavLinks a:hover, .copyRightAndSocialLinks p a:hover {
    text-decoration: underline;
}

.copyRightAndSocialLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #ac4d37; */
}

.copyRightAndSocialLinks p {
    font-size: 14px;
}

.footerSocialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150px;
}

.footerSocialIcons a {
    color: gold;
}

.footerNavLinks span {
    display: none;
}

@media screen and (max-width: 600px) {
    .footer {
        font-size: medium;
    }
    .copyRightAndSocialLinks {
        padding: 10px;
        height: auto;
        flex-direction: column;
        text-align: center;
    }
    .footerSocialIcons {
        margin: 0 auto;
    }
    .footerNavLinks span {
        display: initial;
    }
}
