.MuiButtonBase-root {
    max-height: 140px;
}

.MuiCard-root {
    height: auto;
}

.MuiCardContent-root > h2 {
    visibility: visible;
}

.MuiCardActions-spacing > button {
    margin-left: 10px !important;
    background-color: #f755a6;
    color: white !important;
}

.MuiCardActions-spacing > button:hover {
    color: #f755a6 !important;
}
.MuiCardActions-spacing > button > span > a {
    text-decoration: none !important;
    color: white !important;
}
