.MuiButtonBase-root {
    max-height: 140px;
}

.MuiCard-root {
    height: auto;
}

.MuiCardContent-root > h2 {
    visibility: visible;
}

.MuiCardActions-spacing > :not(:first-child) {
    margin-left: 10px !important;
    background-color: #f755a6;
    color: white !important;
}

.MuiCardActions-spacing > :not(:first-child):hover {
    color: #f755a6 !important;
}
