
.slick-slider {
  height: calc(92vh - 185px) !important;
}


.slick-list {
  height: 100%;
  margin-top: -40px;
  /* margin-bottom: 180px; */
}

.slick-track {
  height: 100%;
  padding: 50px 0px;
  width: 13000px !important;
}

.slick-slider .slick-list .slick-track .slick-active {
  transform: scaleX(0.5) scaleY(0.8);
  z-index: 4;
  opacity: 0.3;
}

.slick-slider .slick-list .slick-track .slick-slide {
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 640px;
  min-height: 1px;
  border: 1px solid black !important;
}

.slick-slider .slick-list .slick-track .slick-slide div {
  height: 100%;
}

.slick-slider .slick-list .slick-track .slick-slide img {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

.slick-slider .slick-list .slick-track .slick-current {
  color: white;
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.9s ease;
  margin: 0 auto;
  z-index: 4;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-dots {
  top: 96%;
  height: 30px;
}

.slick-dots li button {
  color: white;
}

.slick-slider > .slick-prev::before,
.slick-slider > .slick-next::before {
  color: white;
  background-color: transparent;
}

.slick-slider > .slick-prev {
  left: 45px !important;
  z-index: 2 !important;
  background-color: transparent;
}

.slick-slider > .slick-next {
  right: 45px !important;
  z-index: 2 !important;
  background-color: transparent;
}

.carouselContainer {
  background: url("../../assets/finalseat.png");
  background-repeat: no-repeat;
  background-color: black;
  background-position: bottom;
  background-size: contain;
  position: relative;
  margin-top: 40px;
  height: 92vh;
}

.contestPoster {
  position: relative;
}

.contestPoster > div {
  position: absolute;
  width: 160px !important;
  height: 100px !important;
  top: 10px !important;
  right: 0px !important;
}

.contestPoster > div > .participateBtn {
  border-radius: 5px;
  outline: 0;
  border: 0;
  padding: 2px 10px;
  color: white;
  background-color: #ff5500;
  cursor: pointer;
}

@media screen and (min-width: 1370px) {
  .slick-track {
    padding: 100px 0;
  }
}