.Carousel {
    margin: 50px 20px;
}

.carousel::after {
    content: "";
    display: table;
    clear: both;
}

.Carousel, .carousel-inner, .carousel-item {
    height: 120px;
}

.bannerSize {
    height: 130px;
    width: 130px;
}

.carousel-control-prev , .carousel-control-next {
    display: none;
}

.carousel-item > img , .carousel-item > div {
   float: left;
}

.carousel-item > div {
    width: calc(100% - 150px);
    height: 150px;
    padding-left: 40px;
}

.carousel-item > div > p {
    max-width: 100%;
    text-align: left;
}

.carousel-indicators > li {
    background-color: #777;
}

@media screen and (max-width: 900px) {
  .Carousel > div > div > div > div > h2 {
      font-size: 1.3em;
      margin-bottom: 0px;
  }  
  .carousel-item > img {
      width: 120px;
  }
  .carousel-item > div {
      height: 120px;
      padding-left: 5px;
      
  }
  .carousel-item > div > p {
    font-size: 15px !important;
    font-weight: normal;
  }
}