.fullScrVideoSection {
    position: relative;
    /* margin-top: 64px; */
    /* width: 100%; */
    display: block;
}

.fullScrVideoSection > div {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.fullScrVideoSection > div > div {
    display: flex;
    /* width: 100%; */
    /* padding-bottom: 56.25%; */
}

.fullScrVideoSection video {
    max-width: 70%;
    width: 70%;
    display: block !important;
    margin: 0 auto;
    line-height: 1;
    border: none;
    object-fit: cover;
}

@media screen and (max-width: 500px) {
    .fullScrVideoSection video {
        max-width: 90%;
        width: 90%;
    }
}