.MuiPagination-ul {
    width: 55%;
    margin: 0 auto !important;
}

.MuiPaginationItem-root {
    padding: 0 15px !important;
    margin: 0 10px !important;
}

.MuiPaginationItem-textSecondary.Mui-selected {
    color: white !important;
    background-color: #f755a6 !important; 

}

.MuiPaginationItem-root::after {
    display: none;
}