.fa-google {
  font-size: 1rem;
  padding-right: 1vw;
}
.fa-facebook {
  font-size: 1.3rem;
  padding-right: 1vw;
}

.icon-button {
  justify-content: center !important;
}
.MuiDialog-paper {
  overflow: hidden !important;
}

svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}

.form {
  margin: 40px;
  position: absolute;
}
label {
  color: grey;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  background: transparent;
  border: 0;
  font-size: 20px;
  width: 100% !important;
  height: 30px;
  line-height: 10px;
  outline: none !important;
}
.MuiDialog-paperWidthSm {
  height: 60vh;
}

.buttons {
  position: relative;
  bottom: 1vh;
  right: 1vh;
}
